doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title=emailTitle
  body
    h4 Уважаемые коллеги!
    p
      | Простой по рейсу: #{orderNum}
      br
      | #{routeAddressesString}
      br
      br
      | Адрес: #{currentAddressString}
      if !!waybills 
        br
        | ТТН: #{waybills}
      br
      b Плановое время: #{plannedDate}
      br
      b ТС простаивает!
    p
      | #{fullDriverName}, тел. #{driverPhones}
      br
      | #{truckBrand} #{truckNum} #{trailerNum} 

    if showPointStatus
      p
        | Статус:  
        b #{currentStatus} 
    p
      br 
      if isLoading
        | Просим Вас оказать содействие в погрузке ТС! 
      else 
        | Просим Вас оказать содействие в выгрузке ТС! 
      br
      br
      | С уважением, #{companyName}
